@{
    ViewBag.Title = "Home Page";
}

<div style="width: 100%">
    <img style="width: 100%;" src="~/img/nikita-logo-web.png" />
</div>

<div class="jumbotron jumbotron-fluid" style="background-color:#f8f9fa">
    <div class="container" style="text-align: center">
        <h1 class="display-4">Road Safety For Young People</h1>
        <p class="lead">To help young people become safe and independent user on road and transport.</p>
    </div>
</div>

<div class="row" style="margin: 0.5em">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail First" src="~/img/medical.jpg" />
                    <div class="card-block" style="margin: 1em">
                        <h5 class="card-title">
                            Road Safety
                        </h5>
                        <p class="card-text">
                            Data Visualization (E.g. charts) on statistics of road and transport user in past years in Melbourne.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="#">Action</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="~/img/camera.jpg" />
                    <div class="card-block" style="margin: 1em">
                        <h5 class="card-title">
                            Navigation
                        </h5>
                        <p class="card-text">
                            Navigation for user (Parent or children) to find the safest routine between point of departure and arrival.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="#">Action</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="~/img/city.jpg" />
                    <div class="card-block" style="margin: 1em">
                        <h5 class="card-title">
                            Forum
                        </h5>
                        <p class="card-text">
                            Provide a place to share road information currently, which will be broadcasted for user website-wide.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="#">Action</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

