@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Road safety for young people</h1>
    <p class="lead">Help children and young people become safe and independent road and transport uers.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Story on Children</h2>
        <p>
            Something about child.
            Something about child.
            Something about child.
            Something about child.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Story on Parent</h2>
        <p>
            Something about parent.
            Something about parent.
            Something about parent.
            Something about parent.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volunteer on Road</h2>
        <p>Something about volunteer.Something about volunteer.Something about volunteer.Something about volunteer.Something about volunteer.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

